img {
	width: 200px;
	filter: drop-shadow(5px 5px 5px #255);
}

.horizontal-flex-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: 150px;
}

body {
	background-color: whitesmoke;
}