img {
	max-width: 50%;
    min-width: 40%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width: 560px;
    height: 315px;
}


/**/
/*body{*/
/*    width: 100%
    margin: 0;
    padding: 0;*/
/*    font-family: verdana;
    text-align: center;
    color: white;*/
/*    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;*/
/*}*/
body {
    background-image: url("https://cdn.pixabay.com/photo/2018/09/01/20/38/football-field-3647581_1280.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-family: verdana;
    font-size: 18px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
}

figcaption {
    font-family: arial;
}


div {
    display: block;
    width: 60%;
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background: rgba(100, 100, 100, 0.4);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1.0);
    backdrop-filter: blur(1px);
}

/*figcaption {
	font-family: arial;
}

h1 {
    font-size: 200%
}

iframe {
    display: block;
    margin-right: auto;
    margin-left: auto;
}*/